* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.snake {
    background-color: green;
}

.apple {
    background-color: red;
}

@media (orientation: landscape) {
    body {
        flex-direction: row;
    }
}