* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column-reverse;
}

.aside {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.controls {
    display: grid;
    grid-template-columns: 30px 30px 30px;
    grid-template-rows: 30px 30px 30px;
}

.up {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.right {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.down {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.left {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    flex: 0 0 auto;
}

.snake {
    background-color: green;
}

.apple {
    background-color: red;
}

@media (orientation: landscape) {
    body {
        flex-direction: row-reverse;
    }
}