* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column-reverse;
}

body.opposite {
    flex-direction: column;
}

.aside {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.aside > * {
    margin: 5px;
}

.buttons-top {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.buttons-top button {
    background-color: white;
    border: 1px solid black;
    color: black;
}

.buttons-top svg {
    width: 30px;
    height: 30px;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.score {
    color: black;
}

.controls {
    display: grid;
    grid-template-columns: 45px 45px 45px;
    grid-template-rows: 45px 45px 45px;
}

.up {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.right {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.down {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.left {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border: 1px solid black;
    flex: 0 0 auto;
}

.snake {
    background-color: green;
}

.apple {
    background-color: red;
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid black;
    width: 200px;
    max-width: 100%;
    pointer-events: none;
    display: none;
}

.modal.show {
    display: block;
    pointer-events: auto;
}

.modal h1,
.modal p {
    text-align: center;
}

.modal button {
    display: block;
    width: min-content;
    margin: 16px auto;
    background-color: white;
    border: 1px solid black;
}

@media (orientation: landscape) {
    body {
        flex-direction: row-reverse;
    }
    body.opposite {
        flex-direction: row;
    }
}
